body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hamburger {
    cursor: pointer;
}

.menu {
    position: fixed;
    left: -200px; /* Initially off the screen */
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    padding-top: 20px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
}

#toggle-menu {
    display: none;
}

#toggle-menu:checked + .menu {
    left: 0;
}
