.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  /* box-shadow: 1px 1px 20px -10px whitesmoke inset; */
  /* padding:; */
  border: none;
  font-size: x-large;
  /* position: relative; */
  padding-bottom: 20px;
  
}
.footer p{
  /* position: sticky;
  bottom: 0; */
}

/* ! Responsive For Mobile */

@media only screen and (max-width: 767px) {
  .footer {
    font-size: larger;
  }
}
